.title_type_place {
  text-align: left;
  line-height: 76px;
  font-size: 72px;
}

@media screen and (max-width: 768px) {
  .title_type_place {
    max-width: 330px;
    line-height: 1.09;
    font-size: calc(1vw + 34px);
  }
}

@media screen and (max-width: 450px) {
  .title_type_place {
    font-size: calc(1vw + 18px);
  }
}

@media screen and (max-width: 320px) {
  .title_type_place {
    width: 100%;
    max-width: 288px;
    line-height: 35px;
    font-size: 32px;
  }
}
