.place__text {
  margin: 0;
  line-height: 29.34px;
}

@media screen and (max-width: 1023px) {
  .place__text {
    line-height: 1.65;
    font-size: calc(1vw + 8px);
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    line-height: 1.63;
    font-size: calc(1vw + 12.8px);
  }
}
