.intro {
  max-width: 690px;
}

@media screen and (max-width: 1023px) {
  .intro {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 720px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    width: 93.75%;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: 90%;
  }
}
