.two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 1024px) {
  .two-columns {
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .two-columns {
    justify-content: center;
    gap: 28px;
  }
}

@media screen and (max-width: 320px) {
  .two-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 32px;
  }
}
