.two-columns__right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 48px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 484px;
          flex: 0 1 484px;
}

@media screen and (max-width: 1024px) {
  .two-columns__right-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 456px;
            flex: 0 1 456px;
  }
}

@media screen and (max-width: 768px) {
  .two-columns__right-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 352px;
            flex: 0 1 352px;
  }
}

@media screen and (max-width: 768px) {
  .two-columns__right-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 352px;
            flex: 0 1 352px;
  }
}

@media screen and (max-width: 320px) {
  .two-columns__right-column {
    align-items: center;
  }
}
