.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 92px;
}

@media screen and (max-width: 768px) {
  .container {
    row-gap: 88px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    row-gap: 64px;
  }
}
