.website_place_left-column {
  display: none;
}

@media screen and (max-width: 320px) {
  .website_place_left-column {
    width: 100%;
    max-width: 288px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
